@media (max-width: 768px){
    html, body{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .my-header{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 20px;
    }
    .main-logo{
        background-color: white;
        width: 100%;
        margin: 0;
    }
    .logo{
        padding: 15px;
    }
    .nav-bar {
        align-items: center;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        width: 100%;
        gap: 15px;
        background-color: white;

    }
}
