.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* General reset: removes default browser padding & margins */
*, 
*::after, 
*::before {
    box-sizing: border-box;
}
body main{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/*Header section with navbar inside-->*/
header{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.my-header{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 22px;
    
}
/* Hide menu icon on desktop */
.menu-toggle {
  display: none;
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: auto;
}

/*making nav bar link responsive*/

.nav-bar .nav-links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-bar .nav-links .nav-item{
    font-size: 1.4rem;
    
}
.nav-bar .nav-links .nav-item .link{
    text-decoration: none; /* Removes default underline */
    color: #333;
    padding: 2rem 0.2rem; /* Gives space for the dash below */

    position: relative;
}

/* Creating the Green Dash (Pseudo-element) */
.nav-bar .nav-links .nav-item .link::after{
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    width: 0; /* Start with zero width */
    height: 3px; /* Thickness of the dash */
    display: block;
    margin-top: 5px; /* Spacing between text and dash */
    background: green; /* The color of the dash */
    transition: width 0.3s ease-out; /* Smooth transition for the width change */
    left: 0; /* Aligns the dash to the left of the link text */
    /* Alternative for center alignment: left: 50%; transform: translateX(-50%); */
}
/* The Hover Effect: Expand the Dash */
.nav-bar .nav-links .nav-item .link:hover::after {
    width: 100%; /* Expands the dash to full width of the link */
}

/* invite Buton*/
.invite1-btn, 
.invite2-btn, 
.invite3-btn{
    background:linear-gradient(135deg, #31d35c, #2bb7da);
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}
.invite1-btn:hover, 
.invite2-btn:hover, 
.invite3-btn:hover{
  opacity: 0.80;
}



/* section one*/
.section1{
    background-color: rgb(243, 243, 243);      
    padding-left: 4rem;
    overflow: visible;
}

.section1-container{
    max-width: 1200px;      
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.section1-container-left{
    flex: 1;
}
  
.section1-container-left h1{
    font-size: 2rem;
    
}
.section1-container-left .explanation{
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
}
.section1-container-right{
    flex: 1;
    position: relative;
    height: 500px;   /* Small, controlled height */
}
.intro-image1{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.intro-image2{
    width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  object-fit: cover;
  object-position:center;
  overflow: visible;
}

/*section2*/
.section2{
    background-color: rgb(233, 231, 231);
    padding: 1rem 5rem;
}

.section2-top-container h2{
    font-size: 1.4rem;
    color: rgb(61, 59, 59);
}
.section2-top-container p{
    font-size: 1rem;
    color: gray;
}
.section2-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:0.5rem;
}
.section2-container {
    width: 100%;
}

.section2-container h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.section2-container p{
    font-size: 1rem;
    color: gray;
}

/*section3*/
.section3{
    padding: 1rem 5rem;
    background-color: rgb(243, 243, 243);
}
.article{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: rgb(61, 59, 59);;
}
.section3-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
.image-wrapper{
  margin-bottom: 1rem;
}
.section3-images{
    width: 100%;
    height: 100%;
    object-fit: cover;/* Scales the image to cover the entire container while maintaining aspect ratio */
    object-position: center;/* Centers the image within the container */
}
.article-text p{
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
.article-text .h3{
    font-size: 1rem;
    margin-bottom: 0.8rem;
}
.h3-link{
    color: rgb(48, 46, 46);
    text-decoration: none;
}
.h3-link:hover{
    color: #16bd16;
}
.article-text p{
    font-size: 1rem;
    color: gray;
}


/* footer section*/
.bank-footer{
    background-color: rgb(33, 33, 54);
    padding: 0.5rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bank-footer p{
    color: white;
    font-size: 1rem;
}
.logo-and-icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-logo{
    width: 100%;
}
.footer-icons{
    display: flex;
    gap: 1rem; 
  }
/*FOOTER NAV*/
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem 2rem;
}
.footer-nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-nav a:hover{
    color: greenyellow;
    transition: width 0.3s ease-out; /* Smooth transition for the width change */
}
/*FOOTER BUTTON AND COPYRIGHTS*/
.button-and-copyrights{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


